<div class="text-center">

    <h1>Y!</h1>
    <h3>Have an argument with total strangers about things nobody cares</h3>
    <p>Y is a social media to have an argument with total strangers about things nobody cares, it was created after the social media once called "twitter" became way too serious to argue with strangers, and people started taking their arguments online too seriously, thinking they would solve something.</p>

</div>